<mat-sidenav-container class="admin-container">
  <mat-sidenav mode="side" opened class="admin-sidenav">
    <mat-toolbar color="primary">ניהול</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active">דשבורד</a>
      <a mat-list-item routerLink="submissions" routerLinkActive="active">רשומות</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <span>לוח ניהול</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
